#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 150px;
  grid-gap: 10px;
  font-family: 'Dokdo', cursive;
  color:yellow;
  font-size: 1.5em;
}


#header {
  grid-column-start: 1;
  grid-column-end: last;
  text-align: center;
  font-size: 5em;
}

.cell{
  background: hotpink;
  text-align:center;
}
.pressHere{
  background: hotpink;
  text-align:center;
}

#item0{
  grid-column-start:2;
  grid-column-end: 6;
}
#item1{
  grid-column-start:6;
  grid-column-end: 9;
}
#item2{
  grid-column-start:9;
  grid-column-end: 12;
}
#body {
  grid-column-start:3;
  grid-column-end: 7;
  text-align: left;
}

img {
  width: auto;
  height: 100%;
  text-align: center;
}